.main {
    width: 380px;
    text-align: center;
    color: #121212;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    border: 3px solid black;
    margin: 100px auto;
    padding: 50px;
}

.stadium-img {
    width: 380px;
}

.italic {
    font-style: italic;
}

.email-input {
    width: 50%;
    border: 2px solid black;
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    text-align: center;
}

.join-btn {
    width: 60%;
    padding: 10px 20px;
    display: block;
    margin: 10px auto;
    color: white;
    background: black;
    border: 2px solid black;

}

